.image{
    display: block;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    
}

.tab{
   display: block;
   width: 500px;
   height: 40px;
   margin-top: 20px;
   margin-left: auto;
   margin-right: auto;
   border: 2px solid black;
   border-radius: 20px;
   font-weight: 10px;
   padding-left: 10px;
   padding-right: 10px;

}

.b{
    margin-top: 30px;
    padding: 5px;
    font-weight: 100;
    border-radius: 4px;
    margin-right: 4px;
    margin-left: 4px;
       
}

.btn{
    display: flex;
    justify-content: center;
    
}