.main{
    margin-top: 100px;
}

.image{
    width: 300px;
    display: block;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

.input {
   width: 400px;
   display: block;
   margin-right: auto;
   margin-left: auto;
   height: 24px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 30px;
   padding-right: 30px;
   border: 1px #dfe1e5;
   border-radius: 24px;
}

.btn{
    margin-top: 30px;
    padding: 5px;
    font-weight: 100;
    border-radius: 4px;
    margin-right: 4px;
    margin-left: 4px;
    
}

.br{
 display: flex;
 justify-content: center;
}